﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Seat.aspx.cs" Inherits="CineMimimumUI.Seat" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphCss" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphContent" runat="server">
    <form id="form1" runat="server">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-inverse">
                    <h3 style="text-align: center; color: white">PERDE</h3>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <asp:Panel ID="Panel1" runat="server">
                </asp:Panel>
            </div>
        </div>
    </form>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphScript" runat="server">
</asp:Content>
